.ModalWindowAdd{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.DropZona{
    width: 400px;
    height: 200px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

