.tmp
node_modules
builds
packages
bower_components

.idea
./idea
../.idea

.DS_store
./.DS_store
../.DS_store
../../.DS_store
../../../.DS_store

package-lock.json
./package-lock.json
../.package-lock.json
