.GamePage {
  display: flex;
  height: 400px;
  justify-content: space-between;
  background-image: linear-gradient(to top, #2d2e30, #2f3033, #323335, #343538, #37383b);
}

.list {
  width: 15%;
  height: 400px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #2d2e30;
  border-radius: 20px;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  box-shadow: inset 10px 10px 15px #2a2b2c,
              inset -10px -10px 10px #2e2f30;
}

.info{
  width: 80%;
  color:white;
  height: 400px;
  position: relative;
  overflow-y: scroll;
}

.play {
  position: fixed;
  bottom: 105px;
  width: 200px;
  left: 400px;
  }
  
  .delete {
    position:absolute;
    right: 5px;
    top: 5px;
  }

.dropZone {
  width: 90%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  color: gray;
}
.onDropZone {
  background-color: rgb(231, 231, 231);
}
.offDropZone {
  background-color: white;
}

