input {
  width: 100vh;
}
.changePage {
  padding-top: 100px;
  display: flex;
  flex-grow: 1;
  height: 250px;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: #1e254e;
  /* overflow-y: scroll; */
}
.changeButton {
  margin-left: 10px;
  border-radius: 10px;
  bottom: 115px;
  right: 30px;
  width: 90px;
  height: 35px;
  border: none;
}

.changeButton:hover{
  color: white;
  cursor: pointer;
  background: linear-gradient(145deg, #485cc0, #485cc0);
}
.buttonAdd:active{
  background-color: #282828 ;
  box-shadow: inset 5px 5px 10px #161a38,
              inset -5px -5px 10px #1e244c;
}
